body{
    font-family: 'Roboto', sans-serif;
}

.border-test{
    border: 1.5px dashed red;
}

.my-bg-lightgray{
    background-color: #e5e5e5!important;
}

.navbar form input::placeholder{
    color: rgb(108, 117, 125);
}

.my_logo-size{
    width: 3rem;
}

.my_dark-blue{
    background-color: #051e34;
}

.my_height{
    width: 150px;
    height: calc(100% - 56px);
}

