body{
    font-family: 'Roboto', sans-serif;
}

.border-test{
    border: 1.5px dashed red;
}

.my-bg-lightgray{
    background-color: #e5e5e5!important;
}

.my_light-blue-bg{
    background-color: #1b72e8;
}

.navbar form input::placeholder{
    color: rgb(108, 117, 125);
}

.my_logo-size{
    width: 4rem;
}

.my_dark-blue{
    background-color: #051e34;
}

.custom-width{
    width: 150px;
}

.my_main-height{
    height: calc(100vh - 72px);
}

.main_header-height{
    height: 100px;
}

.main_header-width{
    width: calc(100vw - 150px);
}

.my-form_width{
    width: 83%;
}

.my_btn-width{
    width: 5%;
}